fieldset {
  width: 400px;
  height: 1000px;
  margin-left: 550px;
  border: #42124d solid;
}

form {
  margin: 0px 20px 0 15px;
}

table {
  border-collapse: separate;
  border-spacing: 15px 10px;
}

label {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 14px;
}

.td {
  background-color: #3d0b52;
  color: #fcfcfc;
  vertical-align: bottom;
  text-align: center;
  padding: 3px 15px 5px 15px;
  line-height: 20px;
  border: #42124d solid;
  border-width: 2px;
}
