fieldset {
  width: 400px;
  height: 1000px;
  margin-left: 550px;
  border: #42124d solid;
}

form {
  margin: 0px 20px 0 15px;
}

table {
    border-collapse: separate;
    border-spacing : 15px 15px;
    line-height    : 20px;
}

button {
  background-color: #AA336A;
  color: #f0f0f0;
  border: #42124d solid;
  border-radius: 10px;
  /* font-weight: bold; */
  width: 30%;
  height: 30px;
  margin-left: 140px;
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.search>button {
    background-color: #AA336A;
    color           : #f0f0f0;
    border          : #41719c solid;
    border-radius   : 10px;
    width           : 150px;
    height          : 43px;
    margin-left     : 90px;
    text-align      : center;

}


label {
    /* font-family: Arial, Helvetica, sans-serif; */
    display  : inline-flex;
    font-size: 14px;
}

#input {
    width: 220px;
}

.blue-box {
    border     : #42124d 1px solid;
    line-height: 20px;
    padding    : 3px 0px 5px 0px;
}

.td {
  background-color: #3d0b52;
  color: #fcfcfc;
  vertical-align: bottom;
  text-align: center;
  padding: 3px 15px 5px 15px;
  line-height: 20px;
  border: #42124d 1px solid;
  border-width: 1.9px;
}

.show {
    display        : flex;
    justify-content: space-between;
    position       : relative;
}

.number {
    margin-top: 25px;
}

.add {
    float   : right;
    position: absolute;
    right   : 110px;
    top     : 160px
}

.action {
    margin-right: 50px;
}

.action>table {
    border-spacing: 8px 8px;
}

.td_action {
    opacity         : .7;
    color           : #f0f0f0;
    background-color: #DA70D6;
    border          : 1px solid #41719c;
    text-align      : center;
    padding         : 5px;
}